.remote-caret {
  position: absolute;
  border-left: black;
  border-left-style: solid;
  border-left-width: 2px;
  height: 1.5em;
  background: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/643.gif')
    no-repeat;
  background-size: contain;
  color: black;
}
.remote-caret > div {
  position: relative;
  top: 0;
  margin-left: 30px;
  font-size: 1em;
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  user-select: none;
  padding-left: 2px;
  padding-right: 2px;
  z-index: 3;
}
