.header {
  height: 100px;
}
.titleLogo {
  line-height: 100px;
  margin: 0 0 0 30px;
  font-size: 2em;
  font-weight: bold;
  color: rgb(218, 183, 255);
}

@media (max-width: 750px) {
  .titleLogo {
    display: none;
  }
}
