.header {
  height: 100px;
  position: relative;
}
.titleLogo {
  line-height: 100px;
  margin: 0 0 0 30px;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

@media (max-width: 1240px) {
  .titleLogo {
    left: 0 !important;
  }
}
