@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
  font-family: 'D2Coding';
  src: url('/pokecode/src/assets/fonts/D2Coding.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Galmuri11-Bold';
  src: url('./assets/fonts/Galmuri11-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Galmuri11';
  src: url('./assets/fonts/Galmuri11.woff2') format('woff2');
  /* font-weight: normal;
  font-style: normal; */
}

@font-face {
  font-family: 'Galmuri14';
  src: url('./assets/fonts/Galmuri14.woff2') format('woff2');
  /* font-weight: normal;
  font-style: normal; */
}

input::placeholder {
  color: white;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
input {
  outline: none;
}

* {
  font-family: 'Galmuri14';
  /* font-family: 'GmarketSansMedium', sans-serif; */
  font-optical-sizing: auto;
}

/* 스크롤바 전체 기본 꾸미기 */
::-webkit-scrollbar {
  width: 15px;
  /* 스크롤바의 너비 */
}

/* 스크롤바 막대 꾸미기 */
::-webkit-scrollbar-thumb {
  height: 20%;
  /* 스크롤바의 길이 */
  background: #324056;
  /* 스크롤바 막대 테두리 설정  */
  border-radius: 5px;
}

/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
  background: #5c536d33;
  /*스크롤바 뒷 배경 색상*/
}

.hidden {
  display: none;
}

.select {
  color: #333333;
  font-family: cursive;
  inline-size: 30%;
  font-size: 11px;
}

.editor-container {
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
}
.custom-cursor {
  cursor: url('/curser.png'), auto; /* 사용자 정의 커서 이미지 */
}

a,
button,
label,
select {
  cursor: inherit;
}
a:-webkit-any-link {
  cursor: inherit;
}
